<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanghong社区</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    {% include 'header.html' %}
    
    <main>
        <div class="container">
            <a href="/forum"><button id="enterCommunity" class="enter-btn">进入社区</button></a>
        </div>
    </main>

    <script src="../static/js/index.js"></script>
</body>
</html>